spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/thinkfirst
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

logging:
  level:
    com.thinkfirst: INFO

